---
import BaseLayout from '../../layouts/pt/BaseLayout.astro';

import ContactCTA from '../../components/pt/ContactCTA.astro';
import Hero from '../../components/Hero.astro';
---

<BaseLayout title="About | Jeanine White" description="About Jeanine White Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Sobre"
				tagline="Muito obrigado pela atenção, leia um pouco mais sobre minha história:"
			>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
					
					</p>
					<p>

					</p>
					<p>

					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Educação</h2>
				<div class="content">
					<p> Ensino Médio Completo: URI Erechim</p>
					<p> Ensino Superior em progresso: Ciencias da Computação - Universidade Regional Integrada do Alto Uruguai e das Missões</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Cursos Realizados</h2>
				<div class="content">
					<p>
					<h5 class="local_curso"> Cursos Udemy: </h5>
					Python 3 - Curso Completo do Básico ao Avançado -  Duração: 26 Horas<br>
					SQL para Análise de Dados: Do básico ao avançado - Duração 6 Horas<br>
					Complete Introduction to Amazon QuickSight - Duração: 5.5 Horas<br>
					Métodos ágeis de A a Z: o curso completo - Duração 9.5 Horas<br>
					Linux para Desenvolvedores (c/ terminal, Shell, Apache e +) - Duração: 7.5 Horas<br>
					Git e GitHub do básico ao avançado (c/ gist e GitHub Pages) - Duração: 8.5 Horas<br>
					Docker para Desenvolvedors (com Docker Swarm e Kubernetes) - Duração: 12 Horas
					</p>

					<p>
						<br>
					<h5 class="local_curso"> Cursos AWS Skill Builder: </h5>
					Sales Accreditation (Business)<br>
					Aspectos econômicos da nuvem<br>
					Credenciamento (Técnico)<br>
					Technical Essentials<br>
					Noções básicas de Analytics na AWS<br>
					Fundamentos de analytics na AWS<br>
					Serverless Analytics<br>
					Introduction to Amazon Athena<br>
					AWS Glue Getting Started<br>
					Amazon EMR Getting Started<br>
					Amazon Redshift Getting Started<br>
					Best Practices for Data Warehousing with Amazon Redshift<br>
					Amazon Quicksight Getting Started
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Habilidades</h2>
				<div class="content">
					<p> ETL | Python | Pyspark | Pandas | Sistemas AWS | Docker | Git | GitHub | SQL | Metodologias ágeis - Scrum | Certificado AWS CLF-C02 </p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}
	.local_curso {
		grid-column-start: 1;
		font-size: 1.3rem;
		color: var(--gray-0);
	}
	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
