---
import BaseLayout from '../layouts/pt/BaseLayout.astro';
import ContactCTA from '../components/pt/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import { GlobalWorkerOptions } from 'pdfjs-dist';
---

<BaseLayout title="Sobre" description="">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Sobre"
				tagline="Muito obrigado pela atenção, leia um pouco mais sobre minha história:"
			>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p></p>
					<p></p>
					<p></p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Educação</h2>
				<div class="content">
					<p>Ensino Médio Completo: URI Erechim</p>
					<p>Ensino Superior em progresso: Ciências da Computação - Universidade Regional Integrada do Alto Uruguai e das Missões</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Habilidades</h2>
				<div class="content">
					<p>ETL | Python | Pyspark | Pandas | Sistemas AWS | Docker | Git | GitHub | SQL | Metodologias ágeis - Scrum | Certificado AWS CLF-C02</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Cursos Realizados</h2>
				<div class="content">
					<h5 class="local_curso">Cursos Udemy:</h5>
					<p>Complete Introduction to Amazon QuickSight - Duração: 5.5 Horas<br>
						Docker para Desenvolvedores (com Docker Swarm e Kubernetes) - Duração: 12 Horas<br>
						Git e GitHub do básico ao avançado (c/ gist e GitHub Pages) - Duração: 8.5 Horas<br>
						Formação Spark com Pyspark: o Curso Completo - Duração: 11 Horas<br>
						Linux para Desenvolvedores (c/ terminal, Shell, Apache e +) - Duração: 7.5 Horas<br>
						Métodos ágeis de A a Z: o curso completo - Duração 9.5 Horas<br>
						Python 3 - Curso Completo do Básico ao Avançado - Duração: 26 Horas<br>
						SQL para Análise de Dados: Do básico ao avançado - Duração 6 Horas</p>
					<br>
					<h5 class="local_curso">Cursos AWS Skill Builder:</h5>
					<p>Amazon EMR Getting Started<br>
						Amazon Quicksight Getting Started<br>
						AWS Glue Getting Started<br>
						Aspectos econômicos da nuvem<br>
						Best Practices for Data Warehousing with Amazon Redshift<br>
						Credenciamento (Técnico)<br>
						Fundamentos de analytics na AWS<br>
						Introduction to Amazon Athena<br>
						Noções básicas de Analytics na AWS<br>
						Sales Accreditation (Business)<br>
						Serverless Analytics<br>
						Technical Essentials</p>
				</div>
			</section>

		</main>

		<h2 class="section-title" style="margin-left: 2rem; margin-bottom: -2rem;">Certificados</h2>
		<div class="gallery">
			<img id="thumb1" class="thumbnail-special" data-pdf-src="/assets/Certificates/AWS_Certified_Cloud_Practitioner_certificate.pdf" />
			<img id="thumb26" class="thumbnail-special" data-pdf-src="/assets/Certificates/Rafael_Gustavo_Kammler.pdf" />
			<img id="thumb2" class="thumbnail-udemy" data-pdf-src="/assets/Certificates/Certificado_QuickSight.pdf" />
			<img id="thumb3" class="thumbnail-udemy" data-pdf-src="/assets/Certificates/Certificado_Docker.pdf" />
			<img id="thumb27" class="thumbnail-udemy" data-pdf-src="/assets/Certificates/Certificado_Pyspakr.pdf" />
			<img id="thumb4" class="thumbnail-udemy" data-pdf-src="/assets/Certificates/Certificado_Git.pdf" />
			<img id="thumb5" class="thumbnail-udemy" data-pdf-src="/assets/Certificates/Certificado_linux.pdf" />
			<img id="thumb6" class="thumbnail-udemy" data-pdf-src="/assets/Certificates/Certificado_Métodos_agéis.pdf" />
			<img id="thumb7" class="thumbnail-udemy" data-pdf-src="/assets/Certificates/Certificado_python.pdf" />
			<img id="thumb8" class="thumbnail-udemy" data-pdf-src="/assets/Certificates/Certificado_SQL.pdf" />
			<img id="thumb10" class="thumbnail-aws" data-pdf-src="/assets/Certificates/Certificado_AWS_1.pdf" />
			<img id="thumb11" class="thumbnail-aws" data-pdf-src="/assets/Certificates/Certificado_AWS_2.pdf" />
			<img id="thumb12" class="thumbnail-aws" data-pdf-src="/assets/Certificates/Certificado_AWS_3.pdf" />
			<img id="thumb13" class="thumbnail-aws" data-pdf-src="/assets/Certificates/Certificado_AWS_4.pdf" />
			<img id="thumb14" class="thumbnail-aws" data-pdf-src="/assets/Certificates/Certificado_AWS_5.pdf" />
			<img id="thumb15" class="thumbnail-aws" data-pdf-src="/assets/Certificates/Certificado_AWS_6.pdf" />
			<img id="thumb16" class="thumbnail-aws" data-pdf-src="/assets/Certificates/Certificado_AWS_7.pdf" />
			<img id="thumb17" class="thumbnail-aws" data-pdf-src="/assets/Certificates/Certificado_AWS_8.pdf" />
			<img id="thumb18" class="thumbnail-aws" data-pdf-src="/assets/Certificates/Certificado_AWS_9.pdf" />
			<img id="thumb19" class="thumbnail-aws" data-pdf-src="/assets/Certificates/Certificado_AWS_10.pdf" />
			<img id="thumb20" class="thumbnail-aws" data-pdf-src="/assets/Certificates/Certificado_AWS_11.pdf" />
			<img id="thumb21" class="thumbnail-aws" data-pdf-src="/assets/Certificates/Certificado_AWS_12.pdf" />
			<img id="thumb22" class="thumbnail-aws" data-pdf-src="/assets/Certificates/Certificado_AWS_13.pdf" />
			<img id="thumb23" class="thumbnail-aws" data-pdf-src="/assets/Certificates/Certificado_AWS_14.pdf" />
			<img id="thumb24" class="thumbnail-bradesco" data-pdf-src="/assets/Certificates/Escola Virtual - Fundação Bradesco - Python Introdutório.pdf" />
			<img id="thumb25" class="thumbnail-bradesco" data-pdf-src="/assets/Certificates/Escola Virtual - Fundação Bradesco - Introdução POO.pdf" />
		</div>


		<div id="pdfModal" class="modal">
			<div class="modal-content">
				<span id="closeButton" class="close">X</span>
				<iframe id="pdfViewer" src="" width="80%" height="100%"></iframe>
			</div>
		</div>

		<div class="stack" style="width: 100%; margin-top: 1rem;">
			<ContactCTA />
		</div>


		<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.14.305/pdf.min.js" defer></script>

		<script>
			// Get the img elements
			const imgElements = document.querySelectorAll('.thumbnail-special, .thumbnail-udemy, .thumbnail-aws, .thumbnail-bradesco');

			// Add an event listener to each img element
			imgElements.forEach((img) => {
				img.addEventListener('click', (event) => {
					const target = event.target;
					openPDFInModal(target.getAttribute('data-pdf-src'));
				});
			});

			// Function to open the modal with the PDF
			function openPDFInModal(pdfSrc) {
				try {
					const modal = document.getElementById('pdfModal');
					const iframe = document.getElementById('pdfViewer');
					iframe.src = pdfSrc;
					modal.style.display = "block";
				} catch (error) {
					console.error('Error opening PDF:', error);
				}
			}

			// Function to close the modal
			function closeModal() {
				const modal = document.getElementById('pdfModal');
				modal.style.display = "none";
			}

			document.addEventListener('DOMContentLoaded', () => {
				pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.14.305/pdf.worker.min.js';

				async function generateThumbnail(pdfUrl, imgId) {
					try {
						const loadingTask = pdfjsLib.getDocument(pdfUrl);
						const pdf = await loadingTask.promise;
						const page = await pdf.getPage(1);
						const scale = 1;
						const viewport = page.getViewport({ scale });

						const canvas = document.createElement('canvas');
						const context = canvas.getContext('2d');
						canvas.height = viewport.height;
						canvas.width = viewport.width;

						const renderContext = {
							canvasContext: context,
							viewport: viewport
						};

						await page.render(renderContext).promise;

						const img = document.getElementById(imgId);
						img.src = canvas.toDataURL();
					} catch (err) {
						console.error('Error generating thumbnail:', err);
					}
				}

				const closeButton = document.getElementById('closeButton');
				if (closeButton) {
					closeButton.addEventListener('click', closeModal);
				}

				generateThumbnail('/assets/Certificates/AWS_Certified_Cloud_Practitioner_certificate.pdf', 'thumb1');
				generateThumbnail('/assets/Certificates/Rafael_Gustavo_Kammler.pdf', 'thumb26');
				generateThumbnail('/assets/Certificates/Certificado_QuickSight.pdf', 'thumb2');
				generateThumbnail('/assets/Certificates/Certificado_Docker.pdf', 'thumb3');
				generateThumbnail('/assets/Certificates/Certificado_Pyspakr.pdf', 'thumb27');
				generateThumbnail('/assets/Certificates/Certificado_Git.pdf', 'thumb4');
				generateThumbnail('/assets/Certificates/Certificado_linux.pdf', 'thumb5');
				generateThumbnail('/assets/Certificates/Certificado_Métodos_agéis.pdf', 'thumb6');
				generateThumbnail('/assets/Certificates/Certificado_python.pdf', 'thumb7');
				generateThumbnail('/assets/Certificates/Certificado_SQL.pdf', 'thumb8');
				generateThumbnail('/assets/Certificates/Certificado_AWS_1.pdf', 'thumb10');
				generateThumbnail('/assets/Certificates/Certificado_AWS_2.pdf', 'thumb11');
				generateThumbnail('/assets/Certificates/Certificado_AWS_3.pdf', 'thumb12');
				generateThumbnail('/assets/Certificates/Certificado_AWS_4.pdf', 'thumb13');
				generateThumbnail('/assets/Certificates/Certificado_AWS_5.pdf', 'thumb14');
				generateThumbnail('/assets/Certificates/Certificado_AWS_6.pdf', 'thumb15');
				generateThumbnail('/assets/Certificates/Certificado_AWS_7.pdf', 'thumb16');
				generateThumbnail('/assets/Certificates/Certificado_AWS_8.pdf', 'thumb17');
				generateThumbnail('/assets/Certificates/Certificado_AWS_9.pdf', 'thumb18');
				generateThumbnail('/assets/Certificates/Certificado_AWS_10.pdf', 'thumb19');
				generateThumbnail('/assets/Certificates/Certificado_AWS_11.pdf', 'thumb20');
				generateThumbnail('/assets/Certificates/Certificado_AWS_12.pdf', 'thumb21');
				generateThumbnail('/assets/Certificates/Certificado_AWS_13.pdf', 'thumb22');
				generateThumbnail('/assets/Certificates/Certificado_AWS_14.pdf', 'thumb23');
				generateThumbnail('/assets/Certificates/Escola Virtual - Fundação Bradesco - Python Introdutório.pdf', 'thumb24');
				generateThumbnail('/assets/Certificates/Escola Virtual - Fundação Bradesco - Introdução POO.pdf', 'thumb25');
			});

		</script>
	</div>

</BaseLayout>


<style>
	.modal {
		display: none;
		position: fixed;
		z-index: 1000;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgba(0, 0, 0, 0.8);
	}


	.close {
		position: absolute;
		top: 10px;
		right: 20px;
		font-size: 30px;
		cursor: pointer;
	}

	.gallery img {
		cursor: pointer;
		width: 7.5rem;
		flex-grow: 0;
		height: 7.5rem;
		justify-content: flex-start;
	}

	iframe {
		width: 100%;
		height: 100%;
		border: none;
	}


	.gallery {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: flex-start;
		margin-left: 2rem;
		margin-right: 2rem;
		gap: 1.5rem;
	}

	.thumbnail-special {
		width: 7.5rem;
		height: 7.5rem;
		object-fit: cover;
		cursor: pointer;
		border: 0.1rem solid gold;
		box-shadow: 0 0 0.5rem gold, 0 0 1rem gold, 0 0 1.5rem gold;
		animation: shiny-border-golden 2s infinite;
	}

	@keyframes shiny-border-golden {
		0% {
			box-shadow: 0 0 0.5rem gold, 0 0 1rem gold, 0 0 1.5rem gold;
		}
		50% {
			box-shadow: 0 0 1rem gold, 0 0 1.5rem gold, 0 0 2rem gold;
		}
		100% {
			box-shadow: 0 0 0.5rem gold, 0 0 1rem gold, 0 0 1.5rem gold;
		}
	}
	.thumbnail-udemy {
		width: 7.5rem;
		align-content: flex-start;
		height: 7.5rem;
		object-fit: cover;
		cursor: pointer;
		border: 0.1rem solid rebeccapurple;
		box-shadow: 0 0 0.25rem rebeccapurple, 0 0 0.5rem rebeccapurple, 0 0 0.75rem rebeccapurple;
	}




	.thumbnail-aws {
		width: 7.5rem;
		align-content: flex-start;
		height: 7.5rem;
		object-fit: cover;
		cursor: pointer;
		border: 0.1rem solid darkorange;
		box-shadow: 0 0 0.25rem darkorange, 0 0 0.5rem darkorange, 0 0 0.75rem darkorange;

	}


	.thumbnail-bradesco {
		width: 7.5rem;
		align-content: flex-start;
		height: 7.5rem;
		object-fit: cover;
		cursor: pointer;
		border: 0.1rem solid darkred;
		box-shadow: 0 0 0.25rem darkred, 0 0 0.5rem darkred, 0 0 0.75rem darkred;

	}




	.modal {
		display: none;
		position: fixed;
		z-index: 1;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgba(0, 0, 0, 0.8);
	}

	.modal-content {
		height:80%;
		width:80%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.close {
		position: absolute;
		top: 20px;
		right: 35px;
		color: #fff;
		font-size: 40px;
		font-weight: bold;
		cursor: pointer;
	}

	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.local_curso {
		grid-column-start: 1;
		font-size: 1.3rem;
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}

	@media (max-width: 50em) {
		.gallery {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.gallery img {
			flex: 1 1 calc(33.333% - 1rem);
			margin-bottom: 1rem;
		}
	}
</style>